:root {
  --dark: #171717;
  --light: #D0DDD0;
  --texto: #2D3748;
  --aaa: #d1741f;
  --bbb: #62829c;
  --ccc: #223542;
  --azul-oceano: #5E98A6;
  --cinza-azulado: #264653;
  --contorno: #08416E;
  --cinza: #414141;
  --ddd: #f66435;
  --laranja-suave: #F2762E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(255, 255, 255, 0.2);
    --foreground: #ededed;
  }
}

body, html {
  color: var(--ccc);
  background: var(--background);

  .MuiTypography-root {
    font-family: "GeistMono", sans-serif;
  }
}

