@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --foreground: #171717;
  --cinza-claro: #D0DDD0;
  --azul-oceano: #5E98A6;
  --cinza-azulado: #264653;
  --laranja-suave: #F2762E;
  --laranja-sol: #E27A3F;
  --laranja-queimado: #E76F51;
  --texto: #2D3748;
  --vermelho-coral: #C6605E;
  --marrom-madeira: #7A5230;
  --contorno: #08416E;
  --verde: #f4efca;
  --azu: #9d1f15;
  --cinza: #414141;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f66435;
    --foreground: #ededed;
    --fundo: #191919;
  }
}

body, html {
  color: var(--cinza);
  background: var(--background);
  font-family: 'Righteous', cursive;
}

